.aboutMee {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height: 100%;
    align-items: stretch;
}

label.name{
    font-size: 2rem;
    color: white;
}

.namePosition{
    align-self: center;
}

.occupation{
    font-size: 1.5rem;
    color: whitesmoke;
}

.aboutSection{
    display:flex;
}

