@page "/aboutme"
    <div class="aboutMee">
        <div class="aboutSection">
            <div class="namePosition">
                <label class="name">Leonardo Garcia</label>
                <br>
                <label class="occupation">Software Engineer</label>
            </div>
        </div>
        <div class="aboutSection">
            <label class="name">Leonardo Garcia</label>
            <br>
            <label class="occupation">Software Engineer</label>
        </div>
        <div class="aboutSection">
            <label class="name">Leonardo Garcia</label>
            <br>
            <label class="occupation">Software Engineer</label>
        </div>
    </div>
