@page "/ApiTest"
@inject HttpClient Http


<h3>ApiTest</h3>
<div id="funApis">
    <div id="CoinDesk API">
        <h1>Coin Desk API</h1>
        <span>@BitcoinPrice</span>
    </div>
</div>


@code {
    private double BitcoinPrice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var prices = await Http.GetFromJsonAsync<Root>("https://api.coindesk.com/v1/bpi/currentprice.json");

        BitcoinPrice = double.Parse(prices.bpi.USD.rate);

        StateHasChanged(); 

        await base.OnInitializedAsync(); 
    }

    public class Time
    {
        public string updated { get; set; }
        public DateTime updatedISO { get; set; }
        public string updateduk { get; set; }
    }

    public class USD
    {
        public string code { get; set; }
        public string symbol { get; set; }
        public string rate { get; set; }
        public string description { get; set; }
        public double rate_float { get; set; }
    }

    public class GBP
    {
        public string code { get; set; }
        public string symbol { get; set; }
        public string rate { get; set; }
        public string description { get; set; }
        public double rate_float { get; set; }
    }

    public class EUR
    {
        public string code { get; set; }
        public string symbol { get; set; }
        public string rate { get; set; }
        public string description { get; set; }
        public double rate_float { get; set; }
    }

    public class Bpi
    {
        public USD USD { get; set; }
        public GBP GBP { get; set; }
        public EUR EUR { get; set; }
    }

    public class Root
    {
        public Time time { get; set; }
        public string disclaimer { get; set; }
        public string chartName { get; set; }
        public Bpi bpi { get; set; }
    }
}


